<header class="text-gray-300 bg-transparent body-font">
        <div class="container mx-auto flex flex-wrap pt-10 pr-5 pb-5 pl-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <a href="../html/mgmt_index.html"><img src="/images/logo-white.png" alt="AGB LOGO"
                        class="w-48 h-auto"></a>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-4 md:pl-4 md:border-l md:border-gray-400 text-white flex flex-wrap items-center text-sm justify-center font-medium">
                <a href="../html/signup.html"
                    class="mr-5 hover:text-gray-400 transition ease-in-out duration-500 cursor-pointer">SIGN
                    UP</a>
                <a href="../html/about.html"
                    class="mr-5 hover:text-gray-400 transition ease-in-out duration-500 cursor-pointer">ABOUT
                    US</a>
                <a href="../html/wellness.html"
                    class="mr-5 hover:text-gray-400 transition ease-in-out duration-500 cursor-pointer">WELLNESS
                    PROGRAM</a>
            </nav>
            <button
                class="inline-flex items-center text-white bg-green-500 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 transition ease-in-out duration-500">STAFF
                INFO
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>